
@font-face {
  font-family: Vazir;
  src: url("../fonts/vazir/Vazir.ttf");
}

/** {
  direction: rtl;
}*/
body {
  margin: 0;
  font-family: Vazir;
  overflow-x: hidden;
  margin-bottom: 70px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

hr {
  border-radius: 30px;
  border: #d444d4 solid 1.5px;
  background-color: #d444d4;
  box-shadow: rgb(190, 190, 190) 2px 1px 5px;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 5px;
}

a {
  color: #d444d4;
  transition: .3s;
}

a:hover{
  color: #1d8ddb;
}

nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Themes */
.dark-mode {
  background-color: rgb(27, 27, 27);
  color: rgb(185, 185, 185);
}

.light-mode {
  background-color: white;
  color: black;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgb(199, 199, 199);
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #d444d4;
  cursor: pointer;
  transition: .5s;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a3b75;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


.nav-items {
  color: black;
  margin-right: 30px;
  font-size: 15px;
  font-family: Vazir;
  font-weight: 600;
  transition: .3s;
  letter-spacing: .3px;
}

.nav-items:hover {
  color: #bd3787;
}

.dark-mode .nav-items {
  color: white;
}

.dark-mode .nav-items:hover{
  color: #bd3787;
}

.dark-mode .active {
  color: #bd3787;
}

.nav-items:hover {
  color: #bd3787;
}

.active {
  color: #bd3787;
}

.tameshk {
  width: 60px;
  height: 75px;
}

.slogan {
  color: #1d8ddb;
  text-shadow: #1d8ddb 2px 5px 15px;
}

.slogan > span {
  color: #bd3787;
  text-shadow: #bd3787 2px 5px 15px;
}

/* Member card */
.members {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card {
  box-shadow: gray 2px 2px 10px;
  text-align: center;
  width: 25%;
  border-radius: 7px;
  padding: 10px;
  transition: .5s;
  margin-right: 10px;
}

.card:hover {
  box-shadow: gray 10px 10px 10px;
}

.member-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: #8a3b75 solid 2px;
}

.member-name {
  font-weight: 900;
}

.member-type {
  margin-top: -20px;
}

.member-desc {
  font-weight: 100;
}

/* Footer */
.footer {
  position: absolute;
  text-align: center;
  background-color: #2c3157;
  color: white;  padding: 2px;
  width: 100%;
  font-family: Vazir;
  font-weight: 1000;
}

.love {
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
}


/* About */
.tameshk-about {
  width: 90%;
}

/* Dark button */
.dark, .github, .en {
  position: fixed;
  background-color: black;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  padding: 12px;
  left: 30px;
  bottom: 80px;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
  box-shadow: gray 2px 2px 10px;
}

.dark:hover, .github:hover, .en:hover {
  opacity: 0.8;
}

.dark > img {
  width: 25px;
  height: 25px;
}

.github {
  bottom: 140px;
}

.github > img {
  width: 25px;
  height: 25px;
}

/*
  * Amir, you set 2 icon in button 
  * with img tag in html code and
  * background image in css
  * I deleted one of them
*/
.en {
  bottom: 205px;
  /* background-image: url(../ico/english.png) !important; */
  /*
    * I suggest to you to chage background
    * color with linear gradient
    * It going to be like England flag:
  */
  background: linear-gradient(
    to right top,
    rgb(255, 17, 17),
    rgb(31, 31, 255),
    white
  );
}

/*
  * Should change icon size in button
  * to this size => 25x25
  * And it will set in center of btn
*/
.en > img {
  width: 25px;
  height: 25px;
}

.en > img {
  width: 25px;
  height:25px;
}

/* Responesiv code */
@media screen and (max-width: 1024px) {
   .members {
     display: block;
     margin-top: -10px;
   }
   .card {
     width: 100%;
     margin: 15px 20px 0px 0px;
   }
}
