
@font-face {
  font-family: Yekan;
  src: url("../fonts/Yekan/Yekan.tff");
  src: url("../fonts/Yekan/Yekan.eot");
  src: url("../fonts/Yekan/Yekan.woff");
  src: url("../fonts/Yekan/Yekan.woff2");
}
*{
  direction: rtl;
}
body {
  margin: 0;
  font-family: Yekan;
  overflow-x: hidden;
  margin-bottom: 70px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

hr {
  border-radius: 30px;
  border: #d444d4 solid 1.5px;
  background-color: #d444d4;
  box-shadow: rgb(190, 190, 190) 2px 1px 5px;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 5px;
}

a {
  color: #d444d4;
  transition: .3s;
}
a:hover{
  /* opacity: 0.8; */
  color: #1d8ddb;
}

nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Themes */
.dark-mode {
  background-color: rgb(27, 27, 27);
  color: rgb(185, 185, 185);
}

.light-mode {
  background-color: white;
  color: black;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgb(199, 199, 199);
}

::-webkit-scrollbar-thumb {
  background: #d444d4;
  cursor: pointer;
  transition: .5s;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a3b75;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


.nav-items {
  color: black;
  margin-right: 30px;
  font-size: 20px;
  font-family: Yekan;
  font-weight: 900;
  transition: .3s;
  letter-spacing: .3px;
}

.nav-items:hover {
  color: #bd3787;
}

.dark-mode .nav-items {
  color: white;
}
.dark-mode .nav-items:hover{
  color: #bd3787;
}
.dark-mode .active {
  color: #bd3787;
}

.nav-items:hover {
  color: #bd3787;
}

.active {
  color: #bd3787;
}

.tameshk {
  width: 60px;
  height: 75px;
}

.slogan {
  color: #1d8ddb;
  text-shadow: #1d8ddb 2px 5px 15px;
}

.slogan > span {
  color: #bd3787;
  text-shadow: #bd3787 2px 5px 15px;
}

/* Member card */
.members {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card {
  box-shadow: gray 2px 2px 10px;
  text-align: center;
  width: 25%;
  border-radius: 7px;
  padding: 10px;
  transition: .5s;
  margin-right: 10px;
}

.card:hover {
  box-shadow: gray 10px 10px 10px;
}

.member-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: #8a3b75 solid 2px;
}

.member-name {
  font-family: Yekan;
  font-weight: 900;
}

.member-type {
  margin-top: -20px;
}

.member-desc {
  font-family: Yekan;
  /* font-weight: 1000; */
}

/* Footer */
.footer {
  position: fixed;
  text-align: center;
  background-color: #2c3157;
  color: white;
  padding: 2px;
  bottom: 0; 
  width: 100%;
  font-family: Yekan;
  font-weight: 1000;
}

.love {
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
}


/* About */
.tameshk-about {
  width: 90%;
}

/* Dark button */
.dark, .github, .fa {
  position: fixed;
  background-color: black;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  padding: 12px;
  left: 25px;
  bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
  box-shadow: gray 1px 2px 10px;
}

.dark:hover, .github:hover, .fa:hover {
  opacity: 0.8;
}

.dark > img {
  width: 25px;
  height: 25px;
}

.github {
  bottom: 85px;
}

.github > img {
  width: 25px;
  height: 25px;
}

.fa {
  bottom: 155px;
  background: linear-gradient(
    to bottom,
    rgb(25, 255, 25),
    rgb(235, 235, 235),
    rgb(255, 13, 13)
  );
}

.fa > img {
  width: 25px;
  height: 25px;
}

/* Responesiv code */
@media screen and (max-width: 1024px) {
   .members {
     display: block;
     margin-top: -10px;
   }
   .card {
     width: 100%;
     margin: 15px 0px 0px 0px;
   }
}

/* @media screen and (max-width: 900px) and (min-width: 850px) {
  .members {
    width: 90%;
  } 
} */

/* Small laptop */
/* @media screen and (max-width: 1024px) and (min-width: 900px) {
  
} */
